/* YeyeYeee código aquí */
*{
	font-family: 'Montserrat', sans-serif;
}
body{
	background-color: #444;
	color: whitesmoke;
}
.firstimg{
	width: 30%;
	margin-top: 40px;
}
.title{
	font-weight: 800;
	color: #fcad00;
}
.npts{
	margin-top: 75px;
}
.inputs{
	border-radius: 0;
	border: 1px solid;
	padding: 20px;
	background-color: transparent;
	font-family: 'Helvetica', FontAwesome, sans-serif;
}
.btnsesion{
	border: none;
	padding: 20px;
	font-weight: bolder;
	color: #fcad00;
}
.contrasena{
	margin: 10px;
}
.contrasena a{
	color: whitesmoke;
}
.cuenta{
	margin-top: 60px;
}
.cuenta a{
	color: #fcad00;
}