/* YeyeYeee código aquí */

/*HTML INICIO*/
*{
	font-family: 'Montserrat', sans-serif;
}
body{
	background-color: #444;
	color: whitesmoke;
}
.firstimg{
	width: 30%;
	margin-top: 40px;
}
.title{
	font-weight: 800;
	color: #fcad00;
}
.npts{
	margin-top: 75px;
}
.inputs{
	border-radius: 0;
	border: 1px solid;
	padding: 20px;
	background-color: transparent;
	font-family: 'Helvetica', FontAwesome, sans-serif;
}
.btnsesion{
	border: none;
	padding: 20px;
	font-weight: bolder;
	color: #fcad00;
}
.contrasena{
	margin: 10px;
}
.contrasena a{
	color: whitesmoke;
}
.cuenta{
	margin-top: 60px;
}
.cuenta a{
	color: #fcad00;
}

/*HTML 2*/
.fondo{
	background-color: #dddddd;
}
.nav{
	background-color: #444;
	border-color: transparent;
}
.navbar-default .navbar-toggle{
	border-color: #fcad00;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fcad00;
}
.l{
	float: left;
}
.btnyellow{
	padding: 15px;
	background-color: #fcad00;
	color: whitesmoke;
	font-weight: 800;
	border-radius: 0;
	border: none;
	font-size: 20px;
	margin-top: 100px;
}